<h2 style="color:Maroon;">Longevity</h2>
<p>Risk Resources' history of providing risk management and insurance consulting services dates back to 1898 through our affiliate, Corporate Policyholders Counsel, Inc. Risk Resources has evolved over the years in name and expertise to keep pace in meeting our clients' risk management and insurance needs.</p>


<h2 style="color:Maroon;">Expertise</h2>
<p>Our consultants individually possess over twenty years of insurance industry experience on average, with the last ten years in a consulting environment. This allows us to bring a broad vision and scope of solutions to client projects using traditional and non-traditional approaches.</p>

<h2 style="color:Maroon;">Independence / Objectivity / Integrity</h2>

<p>As independent consultants, Risk Resources does not sell insurance. We are not associated with any insurance company, brokerage, agency, actuary or self-insurance service organization. Like your accountant or attorney, Risk Resources operates on a fee basis. Our compensation is not based on commissions. This allows us to be totally objective in our analysis and recommendations.</p>