  <div id="contentWrapper">
    <div id="content"><!-- InstanceBeginEditable name="EditRegion3" -->
      <h1  style="color:Maroon;">Services Overview </h1>
      <p>Our litigation support services are directed towards the attorney whose           practice involves property or liability insurance related issues. We provide           a variety of services at various stages of a dispute or lawsuit. By making           available these resources, the attorney can obtain highly competent counsel           without incurring the expense of maintaining in-house professional staff.           We possess particular expertise in coverage/policy terms interpretation           and industry practices. </p>
      <h1  style="color:Maroon;">Coverage Interpretation </h1>
      <p>Insurance policies and related documents commonly include coverages,           terms, conditions, exclusions and limitations which are difficult to understand           even to professionals within the insurance field. We make the attorney           specifically aware of the special meanings of terms and interpret how           the various policy coverage components mesh together. </p>
      <h1  style="color:Maroon;">Industry Practices </h1>
      <p>The business of insurance is conducted in accordance with industry customs           and practices, some of which may have evolved over decades or even centuries.           The collective experiences of our consulting staff and an insurance library           over a century old are important resources to an attorney. </p>
      <h1  style="color:Maroon;">Litigation </h1>
      <p>When a dispute can't be resolved without litigation, we can assist an           attorney in different ways depending upon individual circumstances. These           include the following: </p>
      <ul>
        <li>Organize and analyze insurance related documents <br/>
        </li>
        <li>Conduct custom research using internal and external reference sources             and databases <br/>
        </li>
        <li>Assist in the development of litigation strategies <br/>
        </li>
        <li>Review draft complaint to ensure technical portions relating to insurance             are correct and relevant documents and parties are referenced appropriately <br/>
        </li>
        <li>Assist in the pre-discovery phase to assess which documents are needed,             who should be deposed and for what information, and who are the important             witnesses and experts needed <br/>
        </li>
        <li>Assist in preparing deponents and witnesses <br/>
        </li>
        <li>Presentation of testimony at trial </li>
      </ul>
    <!-- InstanceEndEditable --></div>
  </div>