<h1 style="color:Maroon;">Services Provided</h1>
<p>Benefits of our Services</p>
<li> &nbsp;&nbsp; Help you reduce your risk and insurance costs.</li>
<li>&nbsp;&nbsp;Provide you with an objective analysis of your risk management and insurance program</li>
<li> &nbsp;&nbsp;Reduce the administrative burden of handling your insurance program.</li>
<li> &nbsp;&nbsp;Simplify your insurance decisions by providing independent objective counsel</li>
<br>
<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Risk Management and Insurance Audit</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                 <p align="left">A  risk management and insurance audit provides management with an  independent assessment of the quality, breadth and pricing/costs of its  programs. Program deficiencies are identified and recommendations for  correction are offered.</p>
              <hr align="left" width="90%"/>
              <h3 style="color:Maroon;" align="left">Loss Exposure Analysis</h3>
              <ul>
                <li>Tour  the business operations and conduct interviews with key management and  operating personnel to identify exposures to accidental loss.<br/>
                  <br/>
                </li>
              </ul>
               <h3 style="color:Maroon;" align="left">Evaluation of insurance program administrative           practices <br/>
              </h3>
              <ul>
                <li> Assess how key insurance information systems are             maintained. <br/>
                </li>
                <li>Review  the decision process used to establish liability insurance limits.  Review methods used to establish insurance values for real and personal  property, loss of income and extra expense. <br/>
                </li>
                <li>Evaluate procedures in place to identify new/emerging             loss exposures.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Insurance Coverage Analysis</h3>
              <ul>
                <li>Analyze  all property and casualty insurance policies. Evaluate each policy's  terms, limitations and deficiencies. Identify any gaps, inconsistencies  or overlaps in coverage in each policy. <br/>
                </li>
                <li>Develop recommendations for improvement and cost             savings.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Evaluation of Agent/Broker Services</h3>
              <ul>
                <li>Evaluate technical competence and performance of             people providing services. <br/>
                </li>
                <li>Evaluate the method and amount of compensation             for services rendered.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Assessment of Risk Control Procedures</h3>
              <ul>
                <li>Assess procedures in place to review contracts             and leases for risk transfer problems. <br/>
                </li>
                <li>Review how disaster and contingency plans have             been developed within the Organization. <br/>
                </li>
                <li>Review effectiveness of loss control programs.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Production of a Written Report</h3>
              <ul>
                <li>Prepare a written report containing major findings             and recommendations. <br/>
                </li>
                <li>Identify opportunities for cost savings.</li>
              </ul>
            </div>
          </div>
        </div> 
    </div>
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Insurance Bid/Proposal Management</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                 <p>Periodic  bidding of your insurance program is the most effective way to ensure  obtaining the broadest coverage at the most economical cost. The  technical assistance of Risk Resources is a key to meeting this  objective. </p>
              <hr align="left" width="90%"/>
              <h3 style="color:Maroon;" align="left">Preparation of Insurance Coverage           Specifications </h3>
              <ul>
                <li>Perform  a loss exposure analysis and insurance coverage review. Incorporate the  findings and recommendations into insurance coverage specifications. <br/>
                </li>
                <li>With client input, review and update the insurance             premium rating information for all coverages. <br/>
                </li>
                <li> With client assistance, compile necessary underwriting             information for all property and casualty coverages.<br/>
                </li>
              </ul>
             <h3 style="color:Maroon;" align="left">Marketing of Request for Proposal</h3>
              <ul>
                <li>Assist  client in selecting insurance agents, brokers and insurance companies  to participate in the bid/proposal process. <br/>
                </li>
                <li>Allocate insurance markets to specific agents/brokers to avoid duplication and confusion in the insurance marketplace. <br/>
                </li>
                <li>Distribute specifications to selected participants.</li>
              </ul>
             <h3 style="color:Maroon;" align="left">Analysis of Proposals</h3>
              <ul>
                <li>Review and analyze each proposal/bid submitted. <br/>
                </li>
                <li>Produce a written report to management outlining             findings and recommendations.</li>
              </ul>
               <h3 style="color:Maroon;" align="left">Review of Issued Insurance Policies for Accuracy</h3>
              <ul>
                <li>Review  each issued property and casualty insurance policy. Compare the  coverage provided with the terms of the accepted proposal. For the  discrepancies or mistakes identified, produce a written report  outlining the needed corrections. </li>
              </ul>
            </div>
          </div>
        </div>
           
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Agent/Broker Selection</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Brokers  and agents offer a vast array of services, which can be difficult to  evaluate. Risk Resources can assist you in identifying your service  needs and guide you in the selection process. <br/>
              </p>
              <hr align="left" width="90%"/>
              <h3 style="color:Maroon;" align="left">Client Needs Assessment</h3>
              <ul>
                <li>Work  with key client personnel who have responsibilities for the risk  management and insurance program to define the insurance  agent/brokerage services needed. <br/>
                </li>
                <li>Develop specific criteria upon which the agents/brokers will be evaluated. <br/>
                </li>
                <li>Develop a list of qualified agents/brokers to participate             in the selection process.</li>
              </ul>
               <h3 style="color:Maroon;" align="left">Development of a Request For Proposal           Document</h3>
              <ul>
                <li>Prepare and distribute a formal Request For Proposal             to selected agents and brokers.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Analysis of Written Proposals</h3>
              <ul>
                <li>Review  and analyze submitted proposals. Recommend to client the agent/broker  finalists to participate in oral presentations. <br/>
                </li>
                <li>Prepare interview questions and evaluation criteria.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Oral Presentations With Selected Finalists</h3>
              <ul>
                <li>Evaluation of account team members. <br/>
                </li>
                <li>Obtain additional information and insight into             service capabilities. <br/>
                </li>
                <li>Resolve any questions or issues from the written             proposals that were submitted.</li>
              </ul>
              <h3 style="color:Maroon;" align="left"> Completion of the Selection Process </h3>
              <ul>
                <li>Analyze the results of the interviews and prepare             final recommendations. <br/>
                </li>
                <li>Assist client in transition planning.</li>
              </ul>
            </div>
          </div>
        </div>
<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Ongoing Risk Management Services</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
               <p>Risk  Resources can serve as your Organization's continuous risk management  and insurance advisor to coordinate your entire program. We will help  you design, administer, maintain and monitor your risk management and  insurance program to achieve the results you desire at maximum cost  efficiency.</p>
              <hr align="left" width="90%"/>
              <h3 style="color:Maroon;" align="left">Ongoing Services</h3>
              <ul>
                <li>Monitor insurance record keeping systems to assure             completeness and accuracy. <br/>
                </li>
                <li>Review premium audits and retrospective adjustments             to assure accuracy. <br/>
                </li>
                <li>Prepare customized claims handling procedures that             reflect specific client's needs and desires. <br/>
                </li>
                <li>Provide assistance in settling claims. <br/>
                </li>
                <li>Manage  the insurance renewal process. Periodically market the property and  casualty insurance program to assure maximum cost efficiency. <br/>
                </li>
                <li>Review  each new and renewal property and casualty insurance policy. Compare  the coverage provided with the terms of the accepted proposal. If there  are discrepancies or mistakes, produce a written report identifying the  corrections to be made. Monitor and follow up with insurance companies  until the corrections are completed. <br/>
                </li>
                <li>Review proposed contracts to assess the risk management             and insurance implications. <br/>
                </li>
                <li>Assess risk management and insurance implications             of merger, acquisition and divestiture activities. <br/>
                </li>
                <li>Develop certificate of insurance programs to monitor             and control contractors, vendors and the like. <br/>
                </li>
                <li>Coordinate loss control activities. <br/>
                </li>
                <li>Coordinate and assist in the development of disaster             recovery plans.</li>
              </ul>
            </div>
          </div>
        </div>
            </div>
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Mergers and Acquisitions Due Diligence</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                 <p>When  most companies get involved in a merger or acquisition, one of the last  issues to be considered is usually insurance. This is often perceived  as a service commodity that can be easily dealt with. Unfortunately,  this is rarely the case. <br/>
              </p>
              <hr align="left" width="90%"/>
               <h3 style="color:Maroon;" align="left">Structure of Acquisition</h3>
            
                
                <ul>
                <li>Determine what liabilities are being assumed. <br/>
                </li>
                <li>Verify that sellers will continue to purchase insurance             for any retained liabilities. <br/>
                </li>
                <li>Identify uninsured liabilities.</li>
              </ul>
             <h3 style="color:Maroon;" align="left">Directors &amp; Officers (D&amp;O) Liability</h3>
              <ul>
                <li>Ensure insurance coverage properly responds to             exposed liabilities and contractual obligations. <br/>
                </li>
                <li>Ensure continuity of Seller's insurance after sale.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">General Liability</h3>
              <ul>
                <li>Identify the cost of insurance in the Seller's             insurance program. <br/>
                </li>
                <li>Identify and evaluate any &quot;claims made&quot;           insurance for gap in coverage. <br/>
                </li>
                <li>Determine financial quality of past product liability             insurers. <br/>
                </li>
                <li>Assess liability potential for products no longer             manufactured by the Seller. <br/>
                </li>
                <li>Evaluate potential for employment practices liability             claims.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Workers Compensation</h3>
              <ul>
                <li>Determine potential impact of change in experience             modification factor. <br/>
                </li>
                <li>Determine potential for outstanding premium audits             due to past insurers. <br/>
                </li>
                <li>Analyze outstanding retrospective adjustments and             obligations.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Environmental Liability</h3>
              <ul>
                <li>Evaluate premises and operations for potential             environmental liability. <br/>
                </li>
                <li>Determine if Seller has experienced any claims             or litigation. <br/>
                </li>
                <li>Determine existence of any past or present pollution             liability insurance. </li>
              </ul>
            </div>
          </div>
        </div>
       



 <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Risk Financing Feasibility Studies</a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Firms  have a wide range of risk financing alternatives available to them in  today's complex insurance marketplace. Risk Resources can assist  clients in their decision making process to choose and implement the  most appropriate risk financing method to meet their needs.</p>
              <hr/>
              <h3 style="color:Maroon;" align="left">Risk Financing Alternatives</h3>
              <ul>
                <li>Dividend Plans <br/>
                </li>
                <li>Retrospective Rating Plans <br/>
                </li>
                <li>Large Deductible Plans <br/>
                </li>
                <li>Individual Self-Insurance <br/>
                </li>
                <li>Group Self-Insurance <br/>
                </li>
                <li>Captive Insurance Companies <br/>
                </li>
                <li>Finite Risk Plans <br/>
                </li>
                <li>Integrated Risk Plans <br/>
                </li>
                <li>Risk Retention Groups <br/>
                </li>
                <li>Risk Purchasing Groups </li>
              </ul>
            </div>
          </div>
        </div>
 <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Workers Compensation Classification and Premium Audits</a>
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Premium  overpayments commonly occur due to incorrect classifications,  unverified experience modifications and misapplied rating rules. Risk  Resources can identify past overpayments and secure refunds from  insurance companies. </p>
              <hr/>
              <h3 style="color:Maroon;" align="left">Initial Review of Documents</h3>
              <ul>
                <li>Perform  review of documents, including current insurance policy, insurance  proposals, loss runs, and experience modification worksheet.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Business Operations Analysis</h3>
              <ul>
                <li>Tour  the main facilities and conduct interviews to determine exactly what  business operations are conducted and the specific activities of  different groups of employees.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Comprehensive Review of Documents</h3>
              <ul>
                <li>Review insurance policies to determine:</li>
                <ul>
                  <li>Are the classifications accurate?</li>
                  <li>Are the rates, schedule credits and other rating               factors the same as originally proposed? <br/>
                  </li>
                </ul>
                <li>Review Experience Modification Worksheet to determine:
                  <ul>
                    <li>Were the correct payrolls used?</li>
                    <li>Were the correct losses used?</li>
                    <li>Were the losses valued at the appropriate time?</li>
                    <li>Is the correct experience period used?</li>
                    <li>Is the modification correctly calculated? <br/>
                    </li>
                  </ul>
                </li>
                <li>Review Payroll Audits to determine:
                  <ul>
                    <li>Were proper payrolls used?</li>
                    <li>Were credits allowed for overtime, officer                 excess wages and subcontracted work?</li>
                    <li>Were new classifications added without authorization?</li>
                    <li>Were payrolls properly assigned to classification                 codes? <br/>
                    </li>
                  </ul>
                </li>
                <li>Review Loss Sensitive Rating Adjustments to determine:
                  <ul>
                    <li>Were proper audited premiums used?</li>
                    <li>Were the correct rating plan factors used?</li>
                    <li>Were the correct losses used?</li>
                    <li>Were losses valued at the correct time?</li>
                  </ul>
                </li>
              </ul>
             <h3 style="color:Maroon;" align="left">Production of a Written Report and Implementation           of Recommendations</h3>
              <ul>
                <li>Prepare a written report containing major findings. <br/>
                </li>
                <li>Identify areas of premium reduction. <br/>
                </li>
                <li>Obtain proper return premiums from insurance companies.</li>
              </ul>
            </div>
          </div>
        </div>
 <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Loss Settlement Assistance</a>
            </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Having  a claim denied or mishandled by an insurance company is very  distressing. Unfortunately, this situation is becoming more prevalent.  Risk Resources provides expert counsel to obtain satisfactory  resolution of claims. </p>
              <hr/>
              <h3 style="color:Maroon;" align="left">Denied Claims</h3>
              <ul>
                <li>Review  denied claims for their validity. Make sure the insurance company has  properly applied the policy terms and conditions. Where necessary,  assist client in challenging improperly denied claims.</li>
              </ul>
              <h3 style="color:Maroon;" align="left">Insured Claims</h3>
              <ul>
                <li>Assist client in compiling appropriate documentation             to establish accurate valuation of losses. <br/>
                </li>
                <li>Assist in the preparation and calculation of claims.</li>
                <li>Assist client in identifying and challenging excessive             loss reserves.</li>
                <li>Review  the insurance contract to ensure all loss reporting requirements have  been met to prevent denial or disputes. </li>
                <li>Negotiate directly with the insurance company             to ensure the client is fairly reimbursed for a loss.</li>
              </ul>
            </div>
          </div>
        </div>
 <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Insurance Archaeology</a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
               <p>Environmental  liability claims arising from exposure to harmful substances over a  long period of time and other similar type claims have created the need  for Organizations to reconstruct their insurance coverage going back  thirty, forty, or even fifty years. Risk Resources can assist firms in  researching and reconstructing their past insurance coverages even  though the actual insurance policies may have been lost or destroyed.  These efforts can yield evidence of insurance coverage worth millions  of dollars to affected Organizations.   </p>
              <hr/>
               <h3 style="color:Maroon;" align="left">Archaeology Project Components</h3>
              <ul>
                <li>Research of corporate records - onsite and offsite. <br/>
                </li>
                <li>Interviews with former employees, insurance agents,             brokers and insurers. <br/>
                </li>
                <li>Research of Lloyd's of London and other London             excess liability markets. <br/>
                </li>
                <li>Research of third party records sources - customers,             suppliers, contractors, railroads, etc. <br/>
                </li>
                <li>Reconstruction of policies. <br/>
                </li>
                <li>Compilation and organization of records.</li>
              </ul>
            </div>
          </div>
        </div>
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Construction Wrap-ups and Consolidated Insurance Programs</a>
            </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Construction related OCIP’s and  CCIP’s require proper planning and execution to have the greatest chance of  success.</p>
            <hr/>
            <h3 style="color:Maroon;" align="left">Project Risk Exposure Analysis</h3>
            <ul>
              <li>Review proposed contract documents.</li>
              <li>Review other project related documents including  project scope, budget and timeline.</li>
              <li>Conduct interviews with stakeholders.</li>
              <li>Evaluate loss exposures.</li>
            </ul>
            <h3 style="color:Maroon;" align="left">CIP Feasibility</h3>
            <ul>
              <li>Estimate rating exposures.</li>
              <li>Estimate contractor premium credits.</li>
              <li>Estimate fixed and variable costs.</li>
              <li>Prepare recommendations for CIP sponsor.</li>
            </ul>
             <h3 style="color:Maroon;" align="left">CIP Administration Selection</h3>
            <ul>
              <li>Determine internal capabilities of CIP sponsor.</li>
              <li>Prepare RFP for administration services.</li>
              <li>Analyze proposals and interview administrators.</li>
              <li>Prepare recommendations for CIP sponsor.</li>
            </ul>
             <h3 style="color:Maroon;" align="left">CIP Program Design/Selection</h3>
            <ul>
              <li>Determine limits of liability and coverages.</li>
              <li>Prepare RFP.</li>
              <li>Analyze proposals and interview insurers.</li>
              <li>Prepare recommendations for CIP sponsor.</li>
            </ul>
            <h3 style="color:Maroon;" align="left">CIP Implementation, Maintenance and Closure</h3>
            <ul>
              <li>Review CIP Manuals provided by administrator.</li>
              <li>Review insurance policies for accuracy.</li>
              <li>Conduct training as needed.</li>
              <li>Participate in periodic claims review meetings.</li>
              <li>Assist with program closure.</li>
            </ul>
          </div>
        </div>
      </div>





































          
